Host bitbucket.org
  HostName bitbucket.org
  PreferredAuthentications publickey
  IdentityFile {{WORK_KEY_PATH}}

# Add more host entries as needed

Host *
  UseKeychain yes
  IdentityFile {{PERSONAL_KEY_PATH}}
  AddKeysToAgent yes
